__pycache__/
.idea/
3090_random/
3090TI_active/
log/
plot/
method_A/
method_N/
method_N_F/
method_N_C/
method_N+A/
*.png
*.json
*.pth
plot_*.py
new.py
test*
rect*
3.txt
data/
checkpoints/
71.14/
72.58_75.68/
73.24_77.50/
1_4/
1_8/